<div class="container">
    <h3>{{titlee}}</h3>
    <form #productForm="ngForm" (ngSubmit)="onSubmit(nameModelRef.value, categoryModelRef.value, priceModelRef.value, desriptionModelRef.value)" novalidate>
        <div class="form-group row">
            <div class="col-md-3">
                <label>Name</label>
                <input type="text" name="name" #nameRef #nameModelRef="ngModel" class="form-control" required minlength="3" ngModel>
                <div *ngIf="nameModelRef.errors && nameModelRef.touched" class="alert alert-danger">
                    <div [hidden]="!nameModelRef.errors.required">Please enter your name</div>
                    <div [hidden]="!nameModelRef.errors.minlength"> Name length should be minimum 6 characters </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label>Category</label>
                <select name="category" class="form-control" #categoryRef #categoryModelRef="ngModel" required ngModel>
            <option *ngFor="let option of options" [value]="option.value">{{option.name}}</option>
        </select>
            <div *ngIf="categoryModelRef.errors && categoryModelRef.touched" class="alert alert-danger">
                Please select a category.
            </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label>Price</label>
                <input type="number" name="price" #priceRef #priceModelRef="ngModel" class="form-control" required ngModel>
                <div *ngIf="priceModelRef.errors && priceModelRef.touched" class="alert alert-danger">
                Please enter price.
            </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label>Description</label>
                <textarea type="text" name="description" class="form-control" #descriptionRef #desriptionModelRef="ngModel" required minlength="3" ngModel></textarea>
                <div *ngIf="desriptionModelRef.errors && desriptionModelRef.touched" class="alert alert-danger">
                <div [hidden]="!desriptionModelRef.errors.required">Please enter description.</div>
                <div [hidden]="!desriptionModelRef.errors.minlength">Please enter a valid description. </div>
            </div>
            </div>
        </div>
        <button [disabled]="!productForm.form.valid" type="submit" class="btn btn-primary">ADD PRODUCT</button>
    </form>
</div>